.php-cs-fixer.cache
# benj1337: added 2023-12-27
!/.htaccess
/composer.lock
/.phpunit.cache/
/assets/
/media/
/node_modules/
/redaxo/cache/
/redaxo/data/
/releases/
/resources/
/vendor/

# Addons
/redaxo/src/addons/*
!/redaxo/src/addons/backup/
!/redaxo/src/addons/be_style/
!/redaxo/src/addons/cronjob/
!/redaxo/src/addons/debug/
!/redaxo/src/addons/install/
!/redaxo/src/addons/media_manager/
!/redaxo/src/addons/mediapool/
!/redaxo/src/addons/metainfo/
!/redaxo/src/addons/phpmailer/
!/redaxo/src/addons/project/
!/redaxo/src/addons/structure/
!/redaxo/src/addons/users/
# benj1337: added 2023-12-27
!/redaxo/src/addons/redaxo_url_rewrite/
# benj1337: added 2023-01-07
!/redaxo/src/addons/redaxo_custom_components/
# benj1337: added 2023-01-26
!/redaxo/src/addons/redaxo_eingabekomponenten/
!/redaxo/src/addons/redaxo_modulte_template_synch/
!/redaxo/src/addons/bootstrap/

# PhpStorm setting
/.idea/*
!/.idea/encodings.xml
!/.idea/icon.svg
!/.idea/jsonSchemas.xml
!/.idea/sqldialects.xml
!/.idea/codeStyles/
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
/.idea/runConfigurations/*
!/.idea/runConfigurations/phpunit.xml
!/.idea/scopes/

# VSCode setting
.vscode

# Docker
/.docker
/docker-compose.*.yml
